.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info
*.egg
*.dist-info
*.whl
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar
*.tgz
*.tbz2
*.txz
*.jar
*.war
*.ear
*.rar
*.7z
*.gz
*.bz2
*.xz
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar
*.tgz
*.tbz2
*.txz
*.jar